Flask
Bootstrap-Flask==2.0.2
Flask-Migrate==2.7.0
Flask-Script==2.0.5
Flask-SQLAlchemy
Flask-WTF
Flask-Login
Flask-PageDown==0.4.0
SQLAlchemy
WTForms
Werkzeug
Jinja2
redis==4.3.1
celery==5.2.6
psycopg2-binary
pyTelegramBotAPI==3.7.7