{% block header %}
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0  shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/">TGController</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="w-100"></div>
        <nav class="navbar navbar-expand navbar-dark bg-dark" aria-label="Second navbar example">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarsExample02">
                    <ul class="navbar-nav me-auto">
                        {% if not current_user.is_authenticated %}
                            <li class="nav-item">
                                <a type="button" href="{{ url_for('auth.login') }}" class="nav-link px-3">Войти</a>
                            </li>
                            <li class="nav-item">
                                <a type="button" href="{{ url_for('auth.register') }}"
                                   class="nav-link px-3">Регистрация</a>
                            </li>
                        {% else %}
                            <li class="nav-item text-nowrap">
                                <a type="button" href="{{ url_for('auth.logout') }}" class="nav-link px-3">Выйти</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
{% endblock %}