{% extends 'dashboard/main.html' %}
{% from 'macros/droplist.html' import droplist_options %}
{% from 'macros/macrosDrop.html' import droplist_whitout_js %}
{% from'macros/pagination.html' import pagination_bootstrap %}
{% block statistic %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Расписания</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-g roup me-2">
                <a class="{{ 'btn btn-primary' if
                            request.path == url_for('statistic.schedule', id=id) else 'btn btn-outline-primary' }}"
                   href="{{ url_for('statistic.schedule', id=id) }}">Регулярное расписание</a>
                <a class="{{ 'btn btn-primary' if
                            request.path == url_for('statistic.content_schedule', id=id) else 'btn btn-outline-primary' }}"
                   href="{{ url_for('statistic.content_schedule', id=id) }}">Расписание постов</a>
            </div>
        </div>
    </div>
    {% block statistic_table %}

    {% endblock %}
{% endblock %}

