{% extends 'dashboard/main.html' %}
{% from 'macros/droplist.html' import droplist_options %}
{% block statistic %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Подписчики</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <select id="channel" class="form-select btn-outline-secondary me-1"
                        onchange="selectChange(event)" aria-label="Default select example">
                    {{ droplist_options(title='Все каналы',options=option_channel) }}
                </select>
                <select id="date" class="form-select btn-outline-secondary"
                        onchange="selectChangeDate(event)" aria-label="Default select example">
                    {{ droplist_options(options=option_date) }}
                </select>
            </div>
            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                     stroke-linejoin="round" class="feather feather-calendar" aria-hidden="true">
                    <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                    <line x1="16" y1="2" x2="16" y2="6"></line>
                    <line x1="8" y1="2" x2="8" y2="6"></line>
                    <line x1="3" y1="10" x2="21" y2="10"></line>
                </svg>
                This week
            </button>
        </div>
    </div>
    <div class="m-4 rounded text-center p-2 border shadow-sm">
        <div id="chart"></div>
    </div>

    <div class="row mb-4">
    {% for i in [
    {'name':'Средний прирост подписчиков','info':'за последние 10 дней' ,'chart':'chart_2'},
    {'name':'Среднее количество просмотров','info':'за последние 10 записей' ,'chart':'chart_3'},
    {'name':'Средний прирост за сутки','info':'за последние 10 дней' ,'chart':'chart_4'},
    ] %}
        <div class="col-lg-3 mx-auto rounded text-center p-2 border shadow-sm">
            <H5>{{ i.name }}</H5>
            <p class="text-black-50">{{ i.info }}</p>
            <div id="{{ i.chart }}"></div>
        </div>
        {% endfor %}
    </div>
{% endblock %}