{% extends 'dashboard/main.html' %}
{% from 'macros/droplist.html' import droplist_options %}
{% from 'macros/macrosDrop.html' import droplist %}
{% block statistic %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Подписчики</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                {{ droplist(button_title="Каналы", title='Все каналы', options=option_channel, onchange="selectChange(event)") }}
                {{ droplist(button_title="По времени", options=option_date, onchange="selectChangeDate(event)") }}
            </div>
        </div>
    </div>
    <div class="m-4 rounded text-center p-2 border shadow-sm">
        <div id="chart"></div>
    </div>

    <div class="row mb-4">
        {% for i in [
            {'name':'Средний прирост подписчиков','info':'за последние 10 дней' ,'chart':'chart_2'},
            {'name':'Среднее количество просмотров','info':'за последние 10 записей' ,'chart':'chart_3'},
            ] %}
            <div class="col-lg-5 mx-auto rounded text-center p-2 border shadow-sm">
                <H5>{{ i.name }}</H5>
                <p class="text-black-50">{{ i.info }}</p>
                <div class="me-4" id="{{ i.chart }}"></div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/chartList.js') }}"></script>
    <script src="{{ url_for('static', filename='js/test.js') }}"></script>
{% endblock %}