{#<table>#}
<tbody id="table_body">
{% for tr in table_row %}
    <tr>
        <td>{{ tr.title }}</td>
        <td>{{ tr.date_created.strftime('%d-%m-%y %H:%M') }}</td>
        <td>
            {% if tr.pub %}
                {{ tr.date_pub.strftime('%d-%m-%y %H:%M') }}
            {% else %}
                -
            {% endif %}
        </td>
        <td>
            {% if tr.pub %}
                {{ tr.number_of_views }}
            {% else %}
                -
            {% endif %}
        </td>
        <td class="align-content-center">
            {% if tr.pub %}
                <span class="d-inline-block rounded-circle my-auto"
                      style="width: 1.25em; height: 1.25em;background-color: rgba(63, 78, 255, 1)"></span>
            {% else %}
                <span class="d-inline-block rounded-circle my-auto"
                      style="width: 1.25em; height: 1.25em;background-color: rgba(0, 0, 0, 0.4)"></span>
            {% endif %}
        </td>
        {#        {% for row in tr.value %}#}
        {#            <td>{{ row }}</td>#}
        {#        {% endfor %}#}

    </tr>
{% endfor %}
</tbody>
{#</table>#}