{% extends 'dashboard/main.html' %}
{% from 'macros/macrosDrop.html' import droplist_whitout_js %}
{% from 'macros/pagination.html' import pagination_bootstrap %}
{% from 'bootstrap4/form.html' import render_field %}


{% block statistic %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2 me-3">Контент</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">

                <form class="input-group" method="get">

                    {% if form_search.search.data %}
                        <a class="btn btn-outline-danger border-0" href="{{ url_for('statistic.content', id=id) }}">
                            <img src="{{ url_for('static', filename="svg/cross-circle.svg") }}"
                                width="24" height="26" role="img" title="" alt="">
                        </a>
                {% endif %}
                    {{ form_search.csrf_token() }}
                    {{ form_search.search }}
                    {{ render_field(form_search.submit) }}
                </form>
            </div>
            <div class="btn-group me-2 ">
                {{ droplist_whitout_js(button_title="Сортировать", options=option_sort) }}
            </div>
            <div class="btn-group">
                <div>
                    <a href="{{ url_for('statistic.content_detail') }}?id_channel={{ id }}"
                       class="btn btn-secondary btn-md">Добавить пост</a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <table class="table table-hover " id="table">
            <thead class="table-secondary" id="table_head">
            <tr>
                {% for th in table_head %}
                    <th scope="col">{{ th.name }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody id="table_body">
            {% for tr in table_row %}
                <tr class="table-row" data-href="{{ url_for('statistic.content_detail') }}?id_post={{ tr.id }}">
                    <td>{{ tr.title }}</td>
                    <td>{{ tr.date_created.strftime('%d.%m.%Y %H:%M') }}</td>
                    <td>
                        {% if tr.pub %}
                            {{ tr.date_pub.strftime('%d.%m.%Y %H:%M') }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {% if tr.pub %}
                            {{ tr.number_of_views }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td class="align-content-center">
                        {% if tr.pub %}
                            <span class="d-inline-block rounded-circle my-auto"
                                  style="width: 1.25em; height: 1.25em;background-color: rgba(63, 78, 255, 1)"></span>
                        {% else %}
                            <span class="d-inline-block rounded-circle my-auto"
                                  style="width: 1.25em; height: 1.25em;background-color: rgba(0, 0, 0, 0.4)"></span>
                        {% endif %}
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {{ pagination_bootstrap(url=url_for('statistic.content', id=id), pagination=pagination, url_attr=sorting+searching ) }}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/content.js') }}"></script>
{% endblock %}